# Core packages
fastapi
uvicorn
python-dotenv

# LangChain + Chroma
langchain
langchain-community
langchain-huggingface
chromadb
sentence-transformers
torch

# Embeddings
langchainhub
langchain-text-splitters
langchain-core
langchain-chroma
langchain-openai
langchain-google-genai
langchain-mistralai

# LLMs and Vector Tools
google-generativeai
sentencepiece
protobuf

# Financial + Data
yfinance
pandas
requests

# SEC Filings
sec-edgar-downloader
html2text
beautifulsoup4

# Utilities
tqdm
tenacity
httpx
pydantic
feedparser