fastapi
uvicorn
pandas
numpy>=1.26
yfinance
html2text
langchain
langchain-community
langchain-mistralai
chromadb
python-dotenv

# Gemini integration
google-generativeai==0.8.4
google-ai-generativelanguage==0.6.15
